<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WEB DEVELOPMENT TECHNOLOGIES</title>
    
    <style>
      .green {
        color: green;
      } 
      h2 {
        color: red;
      }
      li {
        color: orange;
      }
      .blue {
        color: blue;
      }
      #magenta {
        color: magenta;
      }
    #brown {
        color: brown;
      }
    </style>
  </head>
  <body>
    <h1 class="green">Web Development Technologies</h1>
    <h2>Client Side UI Development</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Java Script</li>
      <li>React</li>
      <li>Angular</li>
      <li>Bootstrap</li>
    </ul>
    <h2>Server Side Development</h2>
    <ul>
      <li>Django</li>
      <li>NodeJs</li>
       <li>Asp.Net</li> 
       <li>PHP</li>
        <li>Java Spring Framework</li>
        
    </ul>
    <h2>Database</h2>
    <ul>
      
        
          <li class="blue">SQLite</li>
          <li class="blue">MySQL</li>
          <li class="blue">Oracle</li>
          <li class="blue">SQL Server</li>
          <li class="blue">MongoDB</li>

        </ul>
      
    <h2>IDE/Editor</h2>
    
        <ul>
          <li id="magenta">Visual Studio Code</li>
          <li>Eclipse</li>
          <li>IntelliJ IDEA</li>
          <li>Eclipse Theia</li>
        </ul>
    <p id="brown">Designed by: Sabitha Paulraj</p>


        </body>
        </html>